voodoo-reels/out/
__pycache__/
voodoo-reels/narracao/raw/*.wav
voodoo-reels/narracao/*_bruto.wav
voodoo-reels/narracao/n01*.wav
sintonia-reels/out/
sintonia-reels/narracao/raw/*.wav
mlem-reels/out/
mlem-reels/narracao/raw/*.wav
architects-reels/out/
architects-reels/narracao/raw/*.wav
architects-reels/narracao/tmp_*.wav
promo/out/
hotstreak-reels/out/
hotstreak-reels/out_vetor_teste.png
hotstreak-reels/narracao/raw/*.wav
hotstreak-reels/narracao/tmp_*.wav
hobby-reels/out/
hobby-reels/narracao/raw/*.mp3
hobby-reels/narracao/tmp_*.wav
hobby-reels/assets/acervo_foto/
marvel-reels/out/
marvel-reels/narracao/raw/
marvel-reels/narracao/tmp_*.wav
tipos-reels/out/
quiz-reels/out/
byebye-reels/out/
tipos-reels/narracao/raw/
tipos-reels/narracao/tmp_*.wav
byebye-reels/referencia/
hobby-reels/narracao/raw/
finalgirl-reels/out/
